<div class="container-fluid">
    <div id="home" class="row align-items-center hero scroll_section">
        <div class="col-lg-3 offset-lg-2 cabecera">
            <br>
            <br>
            <br>
            <h1>Restaurante La buena Moza</h1>
            <p>
                Tenemos el mejor equipo de cocineros y ayudantes de nuestra ciudad, queremos que vengas y queremos que
                vuelvas
            </p>
        </div>
    </div>


    <!-- Menus -->

    <div class="row my-3 col-lg-12 ">

        <div id="novedades" class="col-md-5 offset-md-2 scroll_section">
            <h2>Novedades</h2> 
            <ul id="novedades" class="lista-de-novedades">
                {{#each novedades}}
             
             <li>
                <a href="#" data-bs-toggle="modal" data-bs-target="#Modal1{{id}}" ><img src="./images/pizza.jpg" alt="">{{titulo}}</a>

                {{/each}}
             
            </ul>
            

        </div><!--cierra novedades-->
        <!-- abre imagen -->
        <div class="imagen">
            <h3>Nuestro Restaurante</h3>
            <img src="./images/restaurante.jpg" alt="">
        </div>





    </div> <!--cierra novedades y nuestro-->
</div>





<!-- Inicio Modal  -->
                {{#each novedades}}

<div class="modal fade" id="Modal1{{id}}" tabindex="-1" aria-labelledby="Modal1Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalLabel">{{titulo}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>{{subtitulo}}</h4>
        <p>{{cuerpo}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

                {{/each}}


<!-- fin de modal -->




<!-- inicio de historia -->

<div id="historia" class="row align-items-center py-4 scroll_section">
    <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
        <img src="./images/historia1.jpeg" alt="historia 1" class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-sm-block">
        <img src="./images/historia2.jpeg" alt="historia2" class="img-fluid">
    </div>
    <div class="col-md-12 d-sm-none">
        <img src="./images/historia3.jpeg" alt="historia 3" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <h2>Historia</h2>
        <p>Mis abuelos comenzaron en 1945 este hermoso emprendimiento, por ese entonces mis padres eran jovencitos y
            cuando se conocieron y se pusieron de novios años después tambien empezaron a trabajar, y de esa manera de
            generación en generación.</p>

    </div>
</div>
<!-- fin de historia -->

<!-- inicio de Nosotros -->

<div id="nosotros" class="row align-items-stretch my-3 staff py-4 scroll_section">
    <div class="col-lg-8 offset-lg-2">
        <h2>Nosotros</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <!-- columna 1 -->
            <div class="col">
                <div class="card">
                    <img src="./images/nosotros1.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jorge Ramos</h5>
                        <p class="card-text">El es nuestro chef, es salteño y es un gran profesional y un gran amigo.
                        </p>
                    </div>
                </div>
            </div>
            <!-- fin columna 1 -->
            <!-- columna 2 -->
            <div class="col">
                <div class="card">
                    <img src="./images/nosotros2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Julia Krauff</h5>
                        <p class="card-text">Julia es nuestra administradora y tambien colabora un poco con todo el
                            equipo.</p>
                    </div>
                </div>
            </div>
            <!-- fin de columna 2 -->
            <!-- columna 3 -->
            <div class="col">
                <div class="card">
                    <img src="./images/nosotros3.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jose Ricci</h5>
                        <p class="card-text">Jose siempre atento a los clientes te va a llevar nuestras exquisits
                            comidas a tu
                            mesa .</p>
                    </div>
                </div>
            </div>
            <!-- fin de columna 3 -->
            <!-- columna 4 -->
            <div class="col">
                <div class="card">
                    <img src="./images/nosotros4.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Liliana Cervantes</h5>
                        <p class="card-text">Lili es nuestra mesera, ella te recibirá con una eterna sonrisa y un gran
                            profesionalismo.</p>
                    </div>
                </div>
            </div>
            <!-- fin de columna 4 -->
        </div>
    </div>
</div>
<!-- fin de nosotros -->

<!-- conocenos -->
<div id="conocenos" class="row py-4">
    <div class="col-md-4 offset-md-2">
        <h2>Visitanos</h2>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.0429716419685!2d-71.3099557847908!3d-41.133587879288406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x961a7b725bf5667f%3A0x7e51b536ea56f368!2sMitre%20124%2C%20San%20Carlos%20de%20Bariloche%2C%20R%C3%ADo%20Negro!5e0!3m2!1ses!2sar!4v1675623364946!5m2!1ses!2sar"></iframe>
        </div>
    </div>

    <!-- fin de conocenos -->
    <!-- formulario -->
    <div id="contacto" class="col-md-4 mt-4 ml-sm-0 scroll_section">
        <form action="/" method="post">
      <h2 class="contactanos">Contactanos</h2>
      <div class="row g-3">
        <div class="col-md-6">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="col-md-6">
          <label for="apellido">Apellido</label>
          <input type="text" class="form-control" id="apellido" name="apellido">
        </div>

        <div class="col-md-12">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="email@email.com">
        </div>
        <div class="col-md-12">
          <label for="inputPhone" class="form-label">Telefono</label>
          <input type="number" class="form-control" id="inputPhone" name="telefono" placeholder="...">
        </div>
        <div class="col-12">
          <label for="mensaje" class="form-label">Mensaje</label>
          <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
        </div>
      </div>
      <div class="col-12">
    <button type="submit" class="btn btn-primary" id="enviar">Enviar</button>
  </div>
    
    </form>
    <p>{{message}}</p>
    </div>
    <!-- fin de formulario -->


</div>
</button>
</div>
</form>
</div>
</div>
